@import "../../../../styles/include";

.addProduct {
	display: flex;
	flex-direction: column;

	form {
		display: flex;
		input {
			@extend .input;
		}

		button {
			@extend .input;
			@extend .button;
		}
	}
}
